.todo {
    margin: 2rem auto;
    width: 230px;
    height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(69, 69, 69);
    color: white;
    border-radius: 45px;
}

.todo-data {
    margin: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-btns {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-btns button {
    margin: 0rem 0.2rem;
    height: 28px;
    padding: 0.1rem 0.4rem;
    border-radius: 7px;
    background-color: white;
    color: black;
    cursor: pointer;
}